<div style="display: flex; flex-direction: column">

  <div id="heading-wrapper">
    <h3> <ng-content select="[heading]"></ng-content> </h3>
  </div>
  <div id="content-wrapper">
      <ng-content select="[content]"></ng-content>
  </div>

</div>