#heading-wrapper { 
    height: 100px; 
    margin-bottom: 10px;
    background-color: #d6edff; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 0px 50px;
}

#content-wrapper {
    margin: 20px;
}