<nav class="navbar navbar-light navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a id="nav-toggler" style="color: white; margin-left: -14px!important;"><i class="fas fa-bars"></i></a>
    <a class="navbar-brand" style="color: white;" href="#">Online Banking</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon">
      </span>
    </button>
    <!-- <ng-content></ng-content> -->
  </div>
</nav>