<app-header></app-header>

<div style="display: flex;">

  <!-- sidenav and links-->
  <div id="sidenav">
    <app-sidenav>
    </app-sidenav>  
  </div>

  <!-- content -->
  <div id="content">
    <ng-content></ng-content>
  </div>

</div>

<app-footer></app-footer>