a:hover {
    background-color: #2274a5;
}

.active {
    background-color: #2274a5;
    border-radius: 0px;
}

.list-group-item {
    background-color: transparent;
    border-radius: 0px!important;
    color: white;
    border:none;
    padding: 0px 10px;
    /* border-left: 5px solid #e9f1f7; */
    height: 4vh;
}

.list-title {
    color: #bfc0c0!important;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: none!important;
    padding-left: 15px;
    padding-top: 20px;
}

.list-title-line {
   border-bottom: 1px solid #bfc0c0 !important;
   color: #4f5d75!important;
}

.list-child {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;    
}

.link-text {
    margin-left: 15px;
}

i {
    width:30px ;
    /* font-size: 15px; */
    color: white;
}

