<ul class="list-group">
  <a routerLink="/dashboard" routerLinkActive="active">
    <li class="list-group-item list-child">
      <span class="icon-holder">
        <mat-icon svgIcon="home-variant"></mat-icon>
      </span>
      <span class="link-text">
        Dashboard
      </span>
    </li>
  </a>
  
  <!-- categories -->

    <p class="list-title haha"> Payments </p>

    <a routerLink="/account-overview" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="view-quilt"></mat-icon>
        </span>
        <span class="link-text">
          Accounts Overview
        </span>
      </li>
    </a>

    <a routerLink="/transactions" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="credit-card"></mat-icon>
        </span>
        <span class="link-text">
          Transactions
        </span>
      </li>
    </a>

    <a routerLink="/manage-payments" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="credit-card-settings"></mat-icon>
        </span>
        <span class="link-text">
          Manage Payments
        </span>
      </li>
    </a>

    <a routerLink="/beneficiary-management" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
            <mat-icon svgIcon="account-card-details"></mat-icon>
        </span>
        <span class="link-text">
          Beneficiary Management
        </span>
      </li>
    </a>

    <a routerLink="/scheduled-orders" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="calendar-clock"></mat-icon>
        </span>
        <span class="link-text">
          Scheduled Orders
        </span>
      </li>
    </a>

    <a routerLink="/bulk-payment" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="ticket-confirmation"></mat-icon>
        </span>
        <span class="link-text">
          Bulk payment
        </span>
      </li>
    </a>
    
    <a routerLink="/bills" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="cash-multiple"></mat-icon>
        </span>
        <span class="link-text">
          Bills
        </span>
      </li>
    </a>
    
    <a routerLink="/payment-authorization" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="checkbox-multiple-marked-outline"></mat-icon>
        </span>
        <span class="link-text">
          Payment Authorization
        </span>
      </li>
    </a>

    <a routerLink="/entitlements" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
            <mat-icon svgIcon="account-question"></mat-icon>
        </span>
        <span class="link-text">
          Entitlements
        </span>
      </li>
    </a>

    <a routerLink="/cheques" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
            <mat-icon svgIcon="checkbook"></mat-icon>
        </span>
        <span class="link-text">
          Cheques
        </span>
      </li>
    </a>

    <p class="list-title"> Personal </p>

    <a routerLink="/user-profile" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="face-profile"></mat-icon>
        </span>
        <span class="link-text">
          User Profile
        </span>
      </li>
    </a>
  
    <a routerLink="/account-details" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="account-details"></mat-icon>
        </span>
        <span class="link-text">
          Account Details
        </span>
      </li>
    </a>

    <a routerLink="/notifications" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="bell-ring"></mat-icon>
        </span>
        <span class="link-text">
          Notifications
        </span>
      </li>
    </a>

    <a routerLink="/reports" routerLinkActive="active">
      <li class="list-group-item list-child">
        <span class="icon-holder">
          <mat-icon svgIcon="file-chart"></mat-icon>
        </span>
        <span class="link-text">
          Reports
        </span>
      </li>
    </a>

<!-- 
  <a routerLink="/beneficiaries" routerLinkActive="active">
    <li class="list-group-item list-child">
      <span class="icon-holder">
        <i class="fas fa-file-alt"></i>
      </span>
      <span class="link-text">
        Beneficiaries
      </span>
    </li>
  </a>
</ul> -->