  <app-header>
    
  </app-header>

<div #content class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button>
    </div><a href="#" class="forgot">Forgot your email or password?</a>
  </form>
</div>

