<!-- import layout and customize -->
<app-content>
  
    <div heading>
      Beneficiaries
    </div>
  
  
    <!-- content section body -->
    <div content>
  
      beneficiaries content
  
    </div>
  
  </app-content>
