/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome5/css/fontawesome-all.min.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}

@media(min-width: 1920px){
    #sidenav {
        width: 15%;
    }
}

#sidenav {
    width: 250px;
    background: #4f5d75;
    height: 90vh;
    padding: 20px 0px;
    transition: -60px 0.15s;
}

#sidenav li {
    width: 250px;
}

.collapsed {
    width: 50px!important;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.expanded {
    width: 250px!important;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.collapsed i {
    /* font-size: 20px; */
    transition: all 0.25s ease-in-out;
}

#content {
    width: 100%;
}

a {
    text-decoration: none!important;
}

.icon-holder {
    text-align: center;
}